.shadowButton:hover {
  text-decoration: none;
  background-color: #ddd !important;
  background-image: linear-gradient(#eee, #ddd) !important;
  border-color: #ccc !important;
}

.menuListButton:hover {
  background-color: #4078c0 !important;
  color: white !important;
}

.crossButton:hover {
  fill: white !important;
}

.saveQueryButton:hover {
  background-color: #4078c0 !important;
  color: white !important;
}

.editModalInput:focus {
  outline: none;
  border-bottom-color: #4078c0 !important;
}

.editModalInputWrapper:hover {
  background-color: #FAFAFA !important;
}

.editModalFormItemDelete:hover {
  fill: #4078c0 !important;
  background-color: #DEDEDE !important;
}
