{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__DEV__": true
  },
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "react/jsx-boolean-value": [1, "always"],
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],

    "jsx-a11y/no-static-element-interactions": 0,
    
    "comma-dangle": 0,
    "eqeqeq": [2, "allow-null"],
    "class-methods-use-this": 0,
    "id-length": 0,
    "strict": ["error", "global"],
    "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }],
    "prefer-template": 0,
    "radix": 0,
    "no-nested-ternary": 0,
    "max-len": ["error", 200, 2, {"ignoreUrls": true}],
    "no-param-reassign": [2, {"props": false}],
    "no-empty": ["error", { "allowEmptyCatch": true }]
  }
}
